<!DOCTYPE html>
<html>
<head>
<title>Halmgtalk - speak Halmg Keln</title>
<meta name="description" content="Talk with each other. Use Halmg Keln."/>
<link rel="stylesheet" type="text/css" href="/css/main.css">
<script src="/js/app.js"></script>
</head>
<body>
<div class="header"><span class="title">HalmgTalk</span></div>
<div class="content">
<div class="form">
<form class="login" action="/login" method="POST">
<label>Login: </label>
<input type="text" name="username">
<label>Password: </label>
<input type="text" name="password">
<button>Login</button>
</form>
</div>
</div>
</body>
</html>
