<!DOCTYPE html>
<html>
<head>
<title>Halmgtalk - speak Halmg Keln</title>
<meta name="description" content="Talk with each other. Use Halmg Keln."/>
<link rel="stylesheet" type="text/css" href="/css/main.css">
<script src="/bower_components/jquery/dist/jquery.min.js"></script>
<script src="/bower_components/angularjs/angular.min.js"></script>
<script src="/socket.io/socket.io.js"></script>
</head>
<body>
<div class="header"><span class="title">HalmgTalk</span></div>
<div class="content">
<% if (user){ %>
<div class="user">
<label>Skype: </label>
<input type="text" name="skype" value="<%= user.skype ? user.skype : '' %>">
<label>Name: </label>
<input type="text" name="fio" value="<%= user.fio ? user.fio : '' %>">
<label>Online: </label>
<input type="checkbox" name="online" <% if (user.online){ %> checked <% } %> >
</div>
<% } %>
<div class="list">
<ul ng-app="halmgtalk" ng-controller="ListController">
<li class="item" ng-repeat="item in items">
	<span class="skype">
		{{item.skype}}
	</span>
	<span class="name">
		{{item.fio}}
	</span>
</li>
</ul>
</div>
</div>
<script src="/js/app.js"></script>
</body>
</html>
