<!DOCTYPE html>
<html>
<head>
<title>Halmgtalk - speak Halmg Keln</title>
<meta name="description" content="Talk with each other. Use Halmg Keln."/>
<link rel="stylesheet" type="text/css" href="/css/main.css">
<link href='http://fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,400,700&subset=latin,cyrillic-ext' rel='stylesheet' type='text/css'>
<script src="/bower_components/jquery/dist/jquery.min.js"></script>
<script src="/bower_components/angularjs/angular.min.js"></script>
<script src="/socket.io/socket.io.js"></script>
<meta name="HandheldFriendly" content="true">
<meta content="300" name="MobileOptimized">
<meta name="viewport" content="width=device-width , initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
</head>
<body>
<div class="header">
	<a class="title" href="/">HalmgTalk</a>
	<% if (user){ %>
	<a class="logout" href="/logout">logout</a>
	<% } else { %>
	<a class="reg" href="/register">register</a>
	<a class="log" href="/login">login</a>
	<% } %>
</div>
<div class="content">
<% if (user){ %>
<div class="user">
<p>Enter your contact data and check online if u wanna talk.</p>
<label>Skype: </label>
<input type="text" name="skype" value="<%= user.skype ? user.skype : '' %>">
<label>Name: </label>
<input type="text" name="fio" value="<%= user.fio ? user.fio : '' %>">
<label>Online: </label>
<input type="checkbox" name="online" <% if (user.online){ %> checked <% } %> >
</div>
<% } %>
<div class="chat">
	<span class="chat__title">Chat</span>
	<div class="feed"></div>
	<% if (user){ %>
		<div class="add"><input type="text"> <button>send message</button></div>
	<% } %>	
</div>
<div class="list">
<span class="description">Список тех кто прямо сейчас хочет поговорить по калмыцки.<% if (!user){ %> Зарегистрируйтесь и авторизуйтесь, чтобы внести себя в этот список. <% } %></span>
<table ng-app="halmgtalk" ng-controller="ListController">
<tr>
<th>Skype</th>
<th>Name</th>
</tr>
<tr class="item" ng-repeat="item in items">
	<td class="skype">
		{{item.skype}}
	</td>
	<td class="name">
		{{item.fio}}
	</td>
</tr>
</table>
</div>
</div>
<script src="/js/app.js"></script>
</body>
</html>
