/*reset*/
* {margin: 0; padding: 0;}

body{
	font-family: 'Open Sans', sans-serif;
}

.header{
	border-bottom: 1px solid black;
	padding: 10px;
	margin-bottom: 20px;
}

.list table { width: 100%}

.list table th {text-align: left;}

.header .title{
	font-size: 26px;
	font-weight: 700;
	color: #000;
	text-decoration: none;
}

.header .reg, .header .log, .header .logout{
	font-size: 16px;
	font-weight: 700;
	color: #000;
	float: right;
	margin-right: 20px;
}

.content {
	max-width: 1200px;
	margin: 0 auto;
	padding: 20px;
}

.user {
	padding: 5px;
	margin-bottom: 10px;	
}

.user input[type="text"]{
	width: 150px;
	border-radius: 5px;
}

.list .item{
/*	display: block;
*/
}
/*
.item .skype{
	float: left;
}

.item .name{
	float: right;
}
*/

.chat .feed {
	max-height: 300px;
	overflow-y:scroll;
	width: 300px;
	border: 1px solid #ccc;
}

.chat .add input {
	width: 200px;
}

.chat .add button {
	width: 90px;
}

.chat__title{
	font-weight: 700;
}

.chat .nick{
	font-style: italic;
}

.chat, .list {
	display: inline-block;
	vertical-algin: top;
}

.list {
	max-width: 800px;
	min-width: 300px;
}

.chat {
	float: right;
}
